# Hermes WebUI local service configuration
# Loaded by bootstrap.py/start.sh. Do not put secrets in this file.
HERMES_HOME={{ hermes_config_dir }}
HERMES_WEBUI_AGENT_DIR={{ hermes_project_path }}
HERMES_WEBUI_PYTHON={{ hermes_project_path }}/venv/bin/python
HERMES_WEBUI_HOST={{ hermes_webui_host }}
HERMES_WEBUI_PORT={{ hermes_webui_port }}
HERMES_WEBUI_STATE_DIR={{ hermes_webui_state_dir }}
HERMES_WEBUI_DEFAULT_WORKSPACE={{ hermes_webui_default_workspace }}
HERMES_WEBUI_ALLOWED_ORIGINS={{ hermes_webui_allowed_origins }}
