# Loaded by bootstrap.py/start.sh. The optional password is consumed by the
# WebUI itself; do not configure WebUI authentication in nginx.
HERMES_HOME={{ hermes_config_dir }}
HERMES_WEBUI_AGENT_DIR={{ hermes_project_path }}
HERMES_WEBUI_PYTHON={{ hermes_project_path }}/venv/bin/python
HERMES_WEBUI_HOST={{ hermes_webui_host }}
HERMES_WEBUI_PORT={{ hermes_webui_port }}
HERMES_WEBUI_STATE_DIR={{ hermes_webui_state_dir }}
HERMES_WEBUI_DEFAULT_WORKSPACE={{ hermes_webui_default_workspace }}
HERMES_WEBUI_ALLOWED_ORIGINS={{ hermes_webui_allowed_origins }}
HERMES_WEBUI_MAX_UPLOAD_MB={{ hermes_webui_max_upload_mb }}
{% if hermes_webui_password | length > 0 %}
HERMES_WEBUI_PASSWORD={{ hermes_webui_password }}
{% endif %}
